<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.order_detail.OrderDetailMapper">
    <!--    남원우-->


    <!--    최경락-->


    <!--    이무현-->


    <!--    유지호-->


    <!--    변재혁-->
    <insert id="insertNewOrderDetail" parameterType="kr.co.chunjaeshop.order_detail.dto.OrderDetailDTO">
        INSERT
        INTO order_detail(order_idx, product_idx, product_price, product_count, product_total_price)
        VALUES(#{orderIdx}, #{productIdx}, #{productPrice}, #{productCount}, #{productTotalPrice})
    </insert>
</mapper>