<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
    <Properties>
        <!--HH:mm:ss.SSS-->
        <Property name="LOG_PATTERN">%style{%d{HH:mm:ss}}{cyan} %highlight{[%-5p]}{FATAL=red, ERROR=magenta, WARN=yellow, INFO=green, DEBUG=blue} - [%t] %style{class:}{yellow} %-20c{3} %style{=>}{yellow} %style{method:}{yellow} %M(line: %L) %style{>>}{yellow} %m%n%ex</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"  disableAnsi="false"/>
        </Console>
    </Appenders>

    <!-- Loggers -->
    <Loggers>
        <!--MyBatis Log-->
        <Logger name="jdbc.audit" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.connection" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.resultset" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.sqlonly" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.zerock" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </root>
    </Loggers>
</configuration>