<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.seller.SellerMapper">
    <!--    남원우-->


    <!--    최경락-->


    <!--    이무현-->


    <!--    유지호-->


    <!--    변재혁-->
    <insert id="sellerRegister" parameterType="kr.co.chunjaeshop.security.RegisterFormDTO">
        INSERT
        INTO seller(seller_id, seller_name, seller_email, seller_phone, seller_password,
                    seller_zipcode, seller_address1, seller_address2)
        VALUES(#{id}, #{name}, #{email}, #{phone}, #{password1},
               #{zipcode}, #{address1}, #{address2})
    </insert>

    <select id="idDuplicationCheck" resultType="int">
        SELECT COUNT(seller_id)
        FROM seller
        WHERE seller_id = #{id}
    </select>
</mapper>