<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.product_comment.ProductCommentMapper">
    <insert id="commentSave" parameterType="CommentDTO">
        insert into comment( product_idx,comment_writer,comment_contents)
        values(#{productIdx}, #{commentWriter} ,#{commentContents})
    </insert>

    <select id="commentList"  resultType="CommentDTO">
        select * from comment
        where product_idx = 2;
    </select>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="CommentDTO">
        SELECT comment_idx,product_idx,comment_writer,comment_contents,comment_createdTime
        from comment
        where product_idx = #{productIdx}
        order by comment_idx desc limit #{start}, #{limit}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(comment_idx)
        from comment
        where product_idx = #{productIdx}
    </select>
</mapper>