<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.product_review.ProductReviewMapper">
    <!--    남원우-->
    <insert id="reviewSave" parameterType="ProductReviewDTO">
        INSERT INTO product_review (customer_idx, product_idx, review_content,
        review_star, review_thumb_saved, review_img_original, review_img_saved)
        VALUES (#{customerIdx}, #{productIdx}, #{reviewContent}, #{reviewStar},
        #{reviewThumbSaved}, #{reviewImgOriginal}, #{reviewImgSaved})
    </insert>

    <select id="reviewList" resultType="ProductReviewDTO">
        SELECT review_idx, customer_idx, product_idx, review_content, review_star, review_thumb_saved, review_img_original, review_img_saved, review_date
        FROM product_review
    </select>

    <select id="findByIdx" resultType="ProductReviewDTO">
        select review_idx, pr.customer_idx, product_idx, review_content, review_star, review_thumb_saved, review_img_original, review_img_saved, review_date, c.customer_id
        from product_review pr inner join customer c on pr.customer_idx = c.customer_idx
        where review_idx= #{review_idx}
    </select>

    <select id="findByIdxReviewSaveDTO" resultType="kr.co.chunjaeshop.product_review.dto.ProductReviewSaveDTO">
        select review_star, review_content  , review_idx
        from product_review
        where customer_idx = #{customerIdx} and review_idx = #{reviewIdx}
    </select>

    <update id="update" parameterType="ProductReviewDTO">
        UPDATE product_review
        SET review_star = #{reviewStar} , review_content = #{reviewContent} , review_thumb_saved =#{reviewThumbSaved}, review_img_original=#{reviewImgOriginal}
        , review_img_saved = #{reviewImgSaved}
        WHERE review_idx = #{reviewIdx}
    </update>

    <delete id="delete" parameterType="String">
        delete from product_review where review_idx = #{reviewIdx}
    </delete>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="ProductReviewDTO">
        SELECT review_idx, c.customer_idx, product_idx, review_content, review_star, review_thumb_saved, review_img_original, review_img_saved, review_date, c.customer_id
        from product_review pr inner join customer c on pr.customer_idx = c.customer_idx
        where product_idx = #{productIdx}
        order by review_idx desc limit #{start}, #{limit}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(review_idx)
        from product_review
        where product_idx = #{productIdx}
    </select>
    <!--    최경락-->


    <!--    이무현-->


    <!--    유지호-->


    <!--    변재혁-->
    <select id="checkIfCustomerHasReviewIdx" resultType="Integer">
        SELECT count(*)
        FROM product_review
        WHERE customer_idx = #{customerIdx} AND review_idx = #{reviewIdx}
    </select>
</mapper>