<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.product_review.ProductReviewMapper">
    <!--    남원우-->
    <insert id="reviewSave" parameterType="ProductReviewDTO">
        INSERT INTO product_review (customer_idx, product_idx, review_content, review_star, review_thumb_saved, review_img_original, review_img_saved)
        VALUES (#{customer_idx}, #{product_idx}, #{review_content}, #{review_star}, #{review_thumb_saved}, #{review_img_original}, #{review_img_saved})
    </insert>

    <select id="reviewList" resultType="ProductReviewDTO">
        select review_idx, customer_idx, product_idx, review_content, review_star, review_thumb_saved, review_img_original, review_img_saved, review_date from product_review
    </select>
    <!--    최경락-->


    <!--    이무현-->


    <!--    유지호-->


    <!--    변재혁-->

</mapper>