<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.product.ProductMapper">
    <!--    남원우-->


    <!--    최경락-->


    <!--    이무현-->


    <!--    유지호-->
    <select id="countMyProductCnt" parameterType="Integer" resultType="int">
        select count(*) from product where seller_idx = #{sellerIdx}
    </select>

    <select id="myProduct" parameterType="Integer" resultType="List">
        select A.product_name, B.category_name, A.product_stock
        from product A left join category B
        on A.category_idx = B.category_idx
        where seller_idx = #{sellerIdx}
    </select>

    <!--    변재혁-->

</mapper>
