<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper_interface.product.ProductMapper">
    <!--    남원우-->


    <!--    최경락-->
<insert id="productSave" parameterType="ProductDTO">
    INSERT INTO
    product(seller_idx, category_idx, product_name, product_explain, product_price, product_stock, product_thumb_saved, product_img_original, product_img_saved, product_detail_original, product_detail_saved)
    values(#{sellerIdx), #{categoryIdx), #{productName} #{productExplain}, #{productPrice}, #{productStock}, #{productThumbSaved}, #{productImgOriginal}, #{productImgSaved}, #{productDetailOriginal}, #{productDetailSaved})

</insert>

    <!--    이무현-->


    <!--    유지호-->


    <!--    변재혁-->

</mapper>
